<div class="account-card">
    <div class="header">
      Register
    </div>
    <div class="body">
      <div class="md-form input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text md-addon" id="material-addon1"
            ><i class="fa fa-user" aria-hidden="true"></i
          ></span>
        </div>
       <div class="input-group-prepend">
          <input type="text" class="form-control" placeholder="User Name"/>
       </div>
      </div>
      <div class="md-form input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon" id="material-addon1"
              ><i class="fa fa-lock" aria-hidden="true"></i
            ></span>
          </div>
         <div class="input-group-prepend">
            <input type="password" class="form-control" placeholder="password"/>
         </div>
        </div>
        <div class="md-form input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text md-addon" id="material-addon1"
                ><i class="fa fa-lock" aria-hidden="true"></i
              ></span>
            </div>
           <div class="input-group-prepend">
              <input type="password" class="form-control" placeholder="confirm password"/>
           </div>
          </div>
    
  
        <button class="mybutton">Register</button>
    </div>
    <a href=""> Lupa Paswor </a> | 
    <a href="#!/account/register"> Register</a>
  </div>
  